<div class="container middle">
  <div class="row-fluid">
    <div class="span4">
      <img src="<%= image_url('logo_mashpaddlewithname_clear.png') %>">
    </div>

    <div class="span8">
      <h1>Czig Meister Brewing</h1>

      <div class="row-fluid">
        <div class="span4">
          <img src="http://placekitten.com/g/200/200" alt="">
          <h3>DISCOVER</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus adipisci, excepturi, reiciendis tenetur non molestiae nesciunt, porro ratione, ut voluptates animi!</p>
        </div>

        <div class="span4">
          <img src="http://placekitten.com/g/200/200" alt="">
          <h3>DISCOVER</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus adipisci, excepturi, reiciendis tenetur non molestiae nesciunt, porro ratione, ut voluptates animi!</p>
        </div>

        <div class="span4">
          <img src="http://placekitten.com/g/200/200" alt="">
          <h3>DISCOVER</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus adipisci, excepturi, reiciendis tenetur non molestiae nesciunt, porro ratione, ut voluptates animi!</p>
        </div>
      </div>
    </div>
  </div>
</div>
