<div class="container middle">
  <div class="row-fluid">
    <div class="span4">
      <img id="logo-clr" src="<%= image_url('logo_mashpaddle_red.jpg') %>">
    </div>

    <aside class="span8">
      <h2 class="logo-font">
        <span class="uppercase white">New Jersey's</span>
      </h2>

      <h2 class="logo-font">
        <span class="uppercase white">Next Great Brewery</span>
      </h2>

      <div class="opaque-box black">
        <h1 class="logo-font"><a href="https://www.google.com/maps/place/106+Valentine+St,+Hackettstown,+NJ+07840/@40.854224,-74.831572,17z/data=!3m1!4b1!4m2!3m1!1s0x89c383a1bd10b30d:0x1609c0230b0f8349" target="_blank">
          <span class="uppercase red">Hackettstown, NJ</span>
        </a></h1>
      </div>

      <h2 class="logo-font">
        <span class="uppercase white">Stay with us</span>
      </h2>

      <h2 class="logo-font">
        <span class="uppercase white">while we</span>
      </h2>

      <h2 class="logo-font">
        <span class="uppercase white">craft our brewery</span>
      </h2>

      <%= render 'shared/designs/mailchimp'  %>
      <%= render 'shared/designs/social'     %>
    </aside>
  </div>
</div>
