<section class="row-fluid" id="highlights">
  <div class="span4">
    <img src="http://placekitten.com/g/150/150" alt="">
    <h3>EXAMPLE</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus adipisci, excepturi, reiciendis tenetur non molestiae nesciunt, porro ratione!</p>
  </div>

  <div class="span4">
    <img src="http://placekitten.com/g/150/150" alt="">
    <h3>EXAMPLE</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus adipisci, excepturi, reiciendis tenetur non molestiae nesciunt, porro ratione!</p>
  </div>

  <div class="span4">
    <img src="http://placekitten.com/g/150/150" alt="">
    <h3>EXAMPLE</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus adipisci, excepturi, reiciendis tenetur non molestiae nesciunt, porro ratione!</p>
  </div>
</section>
