<section class="opaque-box white" id="mailchimp">
  <form action="//czigmeisterbrewing.us9.list-manage.com/subscribe/post?u=19e4ccfe316b36c3b5ba71e76&amp;id=63bd634d0b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <h4 class="logo-font" for="mce-EMAIL">
        <span class="uppercase red">Be the first to hear big news and event dates</span>
      </h4>

      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_19e4ccfe316b36c3b5ba71e76_63bd634d0b" tabindex="-1" value="">
      </div>

      <div>
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email Address" required>
        <input class="logo-font uppercase" type="submit" value="Sign me up!" name="subscribe" id="mc-embedded-subscribe">
      </div>
    </div>
  </form>
</section>
