<section class="opaque-box white" id="social">
  <h4 class="logo-font">
    <span class="uppercase red">Follow Us on Social Media</span>
  </h4>

  <div class="row-fluid">
    <a target="_blank" href="http://www.facebook.com/CzigMeister">
      <img src="<%= image_url 'bottlecap_facebook.png'  %>" alt="Facebook">
    </a>

    <a target="_blank" href="http://instagram.com/CzigMeister">
      <img src="<%= image_url 'bottlecap_instagram.png' %>" alt="Instagram">
    </a>

    <a target="_blank" href="http://www.twitter.com/CzigMeister">
      <img src="<%= image_url 'bottlecap_twitter.png'   %>" alt="Twitter">
    </a>

    <a target="_blank" href="http://www.youtube.com/channel/UCECj0U0NvQg35VvdteoC-og">
      <img src="<%= image_url 'bottlecap_youtube.png'   %>" alt="YouTube">
    </a>
  </div>
</section>
