<section id="social">
  <h2>Follow Us on Social Media</h2>

  <div class="row-fluid">
    <a target="_blank" href="#">
      <img src="<%= image_url 'bottlecap_facebook.png'  %>" alt="Facebook">
    </a>

    <a target="_blank" href="http://instagram.com/CzigMeister">
      <img src="<%= image_url 'bottlecap_instagram.png' %>" alt="Instagram">
    </a>

    <a target="_blank" href="http://www.twitter.com/CzigMeister">
      <img src="<%= image_url 'bottlecap_twitter.png'   %>" alt="Twitter">
    </a>

    <a target="_blank" href="#">
      <img src="<%= image_url 'bottlecap_youtube.png'   %>" alt="YouTube">
    </a>
  </div>
</section>
