<style>
  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html"><img src="assets/img/logosmall.png" alt="MAXIMUM"></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Homes <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="index.html">Main Home Page</a></li>
                      <li><a href="index2.html">Home with Carousel</a></li>
                      <li><a href="index3.html">Home with Flexslider</a></li>
                      <li><a href="index4.html">Home Short Version</a></li>
                      <li><a href="index5.html">Home with Portfolio</a></li>
                      <li><a href="index7.html">Home Page Varation</a></li>
                    </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="about.html">About Page Ver. 1</a></li>
                      <li><a href="about2.html">About Page Ver. 2</a></li>
                      <li><a href="about3.html">About Page Ver. 3</a></li>
                      <li class="divider"></li>
                      <li><a href="team.html">Team Page Ver. 1</a></li>
                      <li><a href="team2.html">Team Page Ver. 2</a></li>
                      <li><a href="team3.html">Team Page Ver. 3</a></li>
                      <li><a href="team4.html">Single Team Member</a></li>
                    </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="services.html">Services Page</a></li>
                      <li><a href="services2.html">Services Page w/Sidebar</a></li>
                      <li><a href="services3.html">Services Page Variation</a></li>
                      <li><a href="services4.html">Services Page w/Carousel</a></li>
                      <li class="divider"></li>
                      <li><a href="pricingtable.html">Pricing Tables Ver. 1</a></li>
                      <li><a href="pricingtable2.html">Pricing Tables Ver. 2</a></li>
                      <li><a href="pricingtable3.html">Pricing Tables Ver. 3</a></li>
                    </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clients <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="clients.html">Clients Page</a></li>
                      <li><a href="clients2.html">Clients Page Variation</a></li>
                      <li class="divider"></li>
                      <li><a href="testimonials.html">Testimonials Page</a></li>
                      <li><a href="testimonials2.html">Testimonial Page Variation</a></li>
                      <li class="divider"></li>
                      <li><a href="career.html">Careers Page</a></li>
                      <li><a href="career2.html">Career Details Page</a></li>
                    </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Useful <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="faq.html">FAQ Page</a></li>
                      <li><a href="features.html">Features Page</a></li>
                      <li><a href="skills.html">Skills Page</a></li>
                      <li><a href="fullwidth.html">Full Width Page</a></li>
                      <li><a href="mediumfooter.html">Footer Variation</a></li>
                      <li><a href="bigfooter.html">Large Footer Version</a></li>
                      <li><a href="sitemap.html">Sitemap Page</a></li>
                      <li><a href="timeline.html">Timeline Page</a></li>
                      <li><a href="login.html">Login Page</a></li>
                      <li><a href="login2.html">Login Page Variation</a></li>
                      <li><a href="register.html">Register Page</a></li>
                      <li><a href="404.html">404 Error Page</a></li>
                    </ul>
              </li>
              <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Special <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="landing.html">Landing Page</a></li>
                      <li class="active"><a href="landing2.html">Landing Page Variation</a></li>
                      <li><a href="comingsoon.html">Coming Soon Page</a></li>
                      <li><a href="comingsoon2.html">Coming Soon w/Countdown</a></li>
                      <li><a href="onepage.html">One Page Theme</a></li>
                      <li><a href="vcard.html">Vcard Page</a></li>
                      <li><a href="resume.html">Resume Page</a></li>
                      <li><a href="event.html">Event Page</a></li>
                      <li><a href="dribbble.html">Dribbble Shots Widget</a></li>
                      <li><a href="pinterest.html">Pinterest Widget</a></li>
                      <li><a href="instagram.html">Instagram Widget</a></li>
                    </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolios <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="portfolio.html">Basic Portfolio Page</a></li>
                      <li><a href="portfolio2.html">2 Columns Portfolio</a></li>
                      <li><a href="portfolio3.html">3 Columns Portfolio</a></li>
                      <li><a href="portfolio4.html">4 Columns Portfolio</a></li>
                      <li><a href="portfolio5.html">3 Columns Circle Items</a></li>
                      <li><a href="portfolio6.html">4 Columns Circle Items</a></li>
                      <li><a href="portfolio7.html">Portfolio Triangle Variation</a></li>
                      <li><a href="portfolio8.html">Portfolio Hexagon Variation</a></li>
                      <li><a href="portfolio10.html">Single Item</a></li>
                      <li><a href="portfolio11.html">Single Item Right Sidebar</a></li>
                      <li><a href="portfolio12.html">Single Item left Sidebar</a></li>
                      <li><a href="portfolio13.html">Single Item 2 Sidebars</a></li>
                      <li><a href="portfolio14.html">Single Video Item</a></li>
                      <li><a href="portfolio15.html">Single Video Item Variation</a></li>
                      <li class="divider"></li>
                      <li><a href="case.html">Case of Study</a></li>
                      <li><a href="case2.html">Case of Study Variation</a></li>
                    </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="blog.html">Blog Classic</a></li>
                      <li><a href="blog2.html">Blog Variation</a></li>
                      <li><a href="blog3.html">Blog Variation 2</a></li>
                      <li><a href="blog4.html">Blog Variation 3</a></li>
                      <li><a href="blog5.html">Single Post Right Sidebar</a></li>
                      <li><a href="blog6.html">Single Post Left Sidebar</a></li>
                      <li><a href="blog7.html">Single Post Double Sidebar</a></li>
                    </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="contact.html">Contact Page</a></li>
                      <li><a href="contact2.html">Contact Page w/Map</a></li>
                      <li><a href="contact3.html">Contact Page Map Variation</a></li>
                    </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="landingwrap-03">
      <div class="container">
        <div class="row">
          <div class="span2"></div>

          <div class="span4">
            <h2>Show your app with an amazing style.</h2>
            <p>A good user experience helps people engage, learn and get things done.</p>
          </div><!-- /span4 -->

          <div class="span4">
          </div><!-- /span4 -->

          <div class="span2"></div>
        </div><!-- /row -->
        <br>
        <br>
      </div><!-- /container -->
  </div><!-- /landingwrap-01 -->

  <div class="container">
    <div class="row middle">
      <div class="span6">
        <h1>Mobile Freedom.</h1>
      </div><!-- /span6 -->
      <div class="span6">
        <h1>Mobile Revolution.</h1>
      </div><!-- /span6 -->
    </div><!-- /row -->
  </div><!-- /container -->

    <div id="landingwrap-02">
      <div class="container">
        <div class="row middle">
          <h1>OUR FOUNDATION</h1>
          <div class="span4">
            <h3>Innovative Design</h3>
            <img src="assets/img/service01.png" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div><!-- /span4 -->

          <div class="span4">
            <h3>Open Source</h3>
            <img src="assets/img/service02.png" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div><!-- /span4 -->

          <div class="span4">
            <h3>Good Price</h3>
            <img src="assets/img/service04.png" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div><!-- /span4 -->

        </div><!-- /row -->
        <br>
      </div><!-- /container -->
    </div><!-- /landinkwrap-02 -->


  <div id="landingwrap-04">
      <div class="container">
        <div class="row middle">
          <br>
          <br>
          <div class="span6">
            <img src="assets/img/landing/iphone_white.png" alt="">
          </div><!-- /span6 -->
          <div class="span4">
            <h1>iPhone White</h1>
            <h3>SOME TAGLINE HERE</h3>
            <br>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including Lorem Ipsum.</p>
          </div><!-- /span4 -->
          <div class="span2"></div>
        </div><!-- /row -->
        <br>
      </div><!-- /container -->

      <div class="container">
        <div class="row middle">
          <br>
          <br>
          <div class="span6">
            <img src="assets/img/landing/iphone_black_02.png" alt="">
          </div><!-- /span6 -->
          <div class="span4">
            <h1>iPhone Black</h1>
            <h3>SOME TAGLINE HERE</h3>
            <br>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including Lorem Ipsum.</p>
          </div><!-- /span4 -->
          <div class="span2"></div>
        </div><!-- /row -->
        <br>
      </div><!-- /container -->
    </div><!-- /landinkwrap-04 -->

  <div id="landingwrap-02">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h1>Get in touch.</h1>
        </div><!-- /span6 -->
        <div class="span6">
          <h1>hi@maximum.com</h1>
        </div><!-- /span6 -->
        </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /landinkwrap-02 -->

  <div id="twitterwrap">
    <img src="assets/img/twitter.png" alt="">
    <br>
    <br>
    <div id="jstwitter" class="clearfix">
      <ul id="twitter_update_list"></ul>
    </div>
    <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script><!-- Script Needed to load the Tweets -->
    <script type="text/javascript" src="http://api.twitter.com/1/statuses/user_timeline/basicoh_.json?callback=twitterCallback2&count=1"></script>
  </div>
  <div id="footerwrap">
  <em>MADE IN MADRID</em>
  <br>
  <br>
  <p>ST. PATRICK AVE.</p>
  <p>2099, MADRID</p>
  <br>
  <p><a href="#">GET DIRECTIONS</a></p>
  <br>
  <div class="social_icons">
    <a href="#"><img src="assets/img/social/white/dribbble.png" width="30" height="30" alt="Dribbble"></a>
    <a href="#"><img src="assets/img/social/white/facebook.png" width="30" height="30" alt="Facebook"></a>
    <a href="#"><img src="assets/img/social/white/gplus.png" width="30" height="30" alt="GooglePlus"></a>
    <a href="#"><img src="assets/img/social/white/instagram.png" width="30" height="30" alt="Instagram"></a>
    <a href="#"><img src="assets/img/social/white/linkedin.png" width="30" height="30" alt="LinkedIn"></a>
    <a href="#"><img src="assets/img/social/white/pinterest.png" width="30" height="30" alt="Pinterest"></a>
    <a href="#"><img src="assets/img/social/white/twitter.png" width="30" height="30" alt="Twitter"></a>
  </div><!-- End of social icons -->


  </div>
