a     { text-decoration: none; }
form  { margin: 0px 0px 10px 0px; }
aside { padding: 15px; }
h1    { padding: 10px; }

html {
  background: image-url('splash_bkgd.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body { height: 100%; }
html { display: table; width: 100%; }
body { display: table-cell; text-align: center; vertical-align: middle; }

.logo-font {
  .white { text-shadow: 3px 3px #000000; }
}

.opaque-box {
  border: 5px black solid;
  border-radius: 20px;
  margin: 15px 0px 15px 0px;

  &.black { background-color: rgba(  0,  0,  0,0.75); }
  &.white { background-color: rgba(255,255,255,0.75); }
}
section#highlights img {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
}

section#social img {
  margin: -10px 5px 0px 5px;
  height: 100px;
  width: 100px;
}

input[type=email] {
  border: 3px solid black;
  border-radius: 10px;
  font-size: 18px;
  height: 26px;
  margin: 0;
  width: 40%;
}

input[type=submit] {
  background: #9E1D1C;
  border-radius: 10px;
  color: #FFF9D3;
  font-size: 18px;
  padding: 10px 0 10px 0;
  margin: 0;
  width: 30%;
}

input[type=submit]:hover {
  background: #890908;
  box-shadow: inset 0 0 0 3px black;
}

#logo-clr {
  border: 10px solid black;
  width: 95%;
}

/* Mobile Styling */
@media only screen and (min-width : 320px) and (max-width : 736px) {
  @media (orientation : portrait) {
    h1 { font-size: 30px; }
    h2 { font-size: 24px; }
    h4 { line-height: 24px; padding: 10px; }

    input[type=email]  { width: 75%; }
    input[type=submit] {
      display: block;
      margin: 10px auto 10px auto;
      width: 50%;
    }

    section#social img {
      margin: 0px 10px 0px 10px;
      height: 100px;
      width: 100px;
    }
  }

  #logo-clr { width: 50%; }
}

/* Tablet Styling */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  h1 { font-size: 36px; }
  h2 { font-size: 32px; }
  h4 { font-size: 22px; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  h1 { font-size: 30px; }
  h2 { font-size: 26px; }
  h4 { font-size: 20px; }
  input[type=submit] { font-size: 14px; }

  .container        { margin: auto };
  .row-fluid .span4 { width: 45%; }
  .row-fluid .span8 { width: 50%; float: right; }

  #mc_embed_signup_scroll h4 { line-height: 20px; padding: 10px 10px 5px 10px; }
}
